<% provide(:title, "Leave for pay period "+current_pay_period.first.strftime("%d %b %Y")+" to "+current_pay_period.last.strftime("%d %b %Y")) %>
<h1>Check hours - <%=current_pay_period.first.strftime("%d %b %Y")%> - <%=current_pay_period.last.strftime("%d %b %Y")%></h1>

<table class="table table-striped">
  <tr>
    <th>Start</th>
    <th>End</th>
    <th></th>
  </tr>

<% @employee.leaves.each do |leave| %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
</table>
<%= button_to "Back to Employees", leaves_path, class: "btn btn-large" %>
<br />