<% provide(:title, "Paychecks for pay period "+current_pay_period.first.strftime("%d %b %Y")+" to "+current_pay_period.last.strftime("%d %b %Y")) %>
<h1>Paychecks <%=current_pay_period.first.strftime("%d %b %Y")%> - <%=current_pay_period.last.strftime("%d %b %Y")%></h1>

<ul>
<% @employees.each do |employee| %>
  <%= render employee.current_paycheck %>
<% end %>
</ul>

<%= button_to "Back to adjustments", adjustments_path, class: "btn btn-large", method: :get %> 
<br />