<% provide(:title, "All employees") %>
<h1>All employees</h1>
<%= will_paginate %>
<table class="table table-striped">
<th>Name</th>
<th>Pay Rate</th>
<th></th>
<tbody>
  <%= render @employees %>
</tbody>
</table>
<%= will_paginate %>
<br />

<%= button_to "Worked Hours", worked_shifts_path, method: :get, class: "btn btn-large btn-primary" %>