<% provide(:title, "All employees") %>
<h1>All employees</h1>
<%= will_paginate %>
<ul class="employees">
  <%= render @employees %>
</ul>
<%= will_paginate %>
<br />

<%= link_to 'New employee', new_employee_path %>
