<% provide(:title, "New Employee") %>
<% provide(:nav_tab, "employees") %>
<h1>New Employee</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@employee) do |f| %>
			<%= render "fields", f: f %>
      <%= f.submit "Create employee", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>