<% provide(:title, @employee.name) %>
<% provide(:nav_tab, "employees") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @employee.name %>
      </h1>
      <%= @employee.pay_rate.try(:name) %>
    </section>
  </aside>
</div>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
