<footer class="footer">
  <small>
    eggplant
  </small>
  <nav>
    <ul>
      <li><%= link_to "Pay Rates",   pay_rates_path %></li>
      <li><%= link_to "Instructions", "" %></li>
    </ul>
  </nav>
</footer>