<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div style="padding-left:20px;padding-right:20px">
      <span class="pull-left">
      <h4>Pay period: <%= current_pay_period.first.strftime("%d %b %Y") %> - <%= current_pay_period.last.strftime("%d %b %Y") %></h4>
      </span>
      <span class="btn-group pull-right">
        <%= link_to "Previous pay period", previous_pay_period_sessions_path, method: :post, class: "btn" %>
        <%= link_to "Next pay period", next_pay_period_sessions_path, method: :post, class: "btn" %>
      </span>
    </div>
  </div>
</header>